In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing,metrics,pipeline,model_selection,ensemble
from sklearn_pandas import DataFrameMapper

In [2]:
df=pd.read_csv("Desktop/mpg_data_example.csv")

In [3]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,1,ford torino

In [4]:
df.describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin
count,398.000000,398.000000,398.000000,392.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,38.491160,846.841774,2.757689,3.697627,0.802055
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.250000,75.000000,2223.750000,13.825000,73.000000,1.000000
50%,23.000000,4.000000,148.500000,93.500000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,126.000000,3608.000000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000,3.000000

In [5]:
df['origin'].unique()

array([1, 3, 2], dtype=int64)

In [53]:
df['cylinders'].unique()

array([8, 4, 6, 3, 5], dtype=int64)

In [54]:
len(df['horsepower'].unique())

94

In [55]:
len(df['displacement'].unique())

82

In [56]:
len(df['weight'].unique())

351

In [57]:
len(df['acceleration'].unique())

95

In [58]:
len(df['mpg'].unique())

129

In [59]:
df['model year'].unique()

array([70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82], dtype=int64)

In [60]:
df.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [63]:
mapper=DataFrameMapper([
    (['cylinders', 'displacement', 'weight','acceleration', 'model year'],preprocessing.StandardScaler()),
    
    (['origin'],preprocessing.OneHotEncoder(handle_unknown='ignore'))
])

In [64]:
df['horsepower'] = df['horsepower'].fillna(df['horsepower'].mode()[0])

In [65]:
df.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [66]:
df.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model year', 'origin', 'car name'],
      dtype='object')

In [67]:
pipeline_obj=pipeline.Pipeline(
[('mapper',mapper),
('model',ensemble.RandomForestRegressor())])

In [68]:
X=[ 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model year', 'origin']
y=['mpg']

In [69]:
pipeline_obj.fit(df[X],df[y])

C:\Users\278\anaconda3\lib\site-packages\sklearn\pipeline.py:346: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self._final_estimator.fit(Xt, y, **fit_params_last_step)

Pipeline(steps=[('mapper',
                 DataFrameMapper(drop_cols=[],
                                 features=[(['cylinders', 'displacement',
                                             'weight', 'acceleration',
                                             'model year'],
                                            StandardScaler()),
                                           (['origin'],
                                            OneHotEncoder(handle_unknown='ignore'))])),
                ('model', RandomForestRegressor())])

In [70]:
pipeline_obj.predict(df[X])

array([17.272, 14.72 , 17.34 , 16.557, 16.911, 14.52 , 13.71 , 14.26 ,
       13.13 , 14.82 , 14.96 , 14.44 , 14.94 , 15.288, 24.   , 21.078,
       19.272, 20.763, 26.99 , 26.76 , 24.35 , 24.347, 24.78 , 25.165,
       20.798, 10.63 , 10.875, 11.71 ,  9.88 , 27.03 , 26.575, 24.502,
       26.245, 19.808, 16.798, 17.441, 18.7  , 18.321, 14.01 , 13.53 ,
       14.15 , 14.05 , 12.24 , 12.81 , 12.65 , 18.75 , 21.696, 18.811,
       18.5  , 23.424, 27.12 , 29.63 , 29.255, 31.2  , 33.71 , 27.49 ,
       27.   , 24.774, 25.905, 23.21 , 20.566, 21.965, 13.6  , 13.6  ,
       14.54 , 14.115, 16.115, 11.67 , 12.85 , 12.38 , 13.135, 20.69 ,
       14.92 , 13.4  , 13.25 , 14.02 , 19.27 , 22.072, 20.62 , 26.18 ,
       22.427, 26.565, 22.906, 27.08 , 26.87 , 13.51 , 14.635, 13.475,
       14.02 , 14.65 , 11.99 , 13.175, 13.195, 14.04 , 12.48 , 12.02 ,
       13.335, 18.478, 16.365, 18.272, 17.823, 21.87 , 26.493, 11.42 ,
       12.18 , 12.85 , 12.545, 18.5  , 22.23 , 20.816, 22.94 , 22.81 ,
       20.512, 21.337, 25.94 , 14.29 , 15.035, 28.745, 24.85 , 21.392,
       19.872, 15.503, 22.965, 20.314, 12.48 , 20.147, 20.903, 19.43 ,
       15.893, 31.018, 25.295, 31.485, 24.77 , 16.136, 16.061, 17.826,
       15.225, 13.42 , 13.98 , 13.75 , 14.175, 27.725, 27.605, 26.217,
       31.686, 31.623, 27.33 , 25.855, 25.749, 24.232, 25.669, 30.1  ,
       19.305, 17.492, 15.883, 15.781, 15.145, 14.905, 15.435, 14.395,
       17.187, 16.195, 15.49 , 17.562, 20.551, 19.291, 14.562, 28.53 ,
       23.42 , 19.895, 22.671, 23.974, 25.649, 24.061, 18.858, 28.845,
       18.673, 23.376, 22.37 , 21.338, 24.055, 32.455, 26.547, 25.28 ,
       25.092, 26.068, 27.304, 16.67 , 15.78 , 15.04 , 14.955, 21.403,
       20.931, 22.749, 21.646, 29.529, 26.112, 29.156, 32.791, 19.402,
       18.57 , 18.285, 18.56 , 29.242, 31.62 , 28.275, 25.75 , 20.129,
       13.775, 19.695, 19.473, 16.978, 15.875, 13.56 , 13.633, 14.043,
       31.426, 29.864, 33.229, 25.701, 32.63 , 16.574, 17.061, 15.56 ,
       15.427, 17.984, 20.177, 19.101, 18.376, 15.835, 15.425, 15.645,
       15.663, 29.665, 24.55 , 26.202, 24.76 , 30.627, 32.325, 30.635,
       29.694, 21.414, 22.93 , 22.763, 39.916, 35.083, 33.727, 36.815,
       35.511, 19.625, 18.656, 19.637, 19.287, 20.159, 20.438, 24.97 ,
       20.102, 19.597, 20.302, 20.648, 18.901, 18.786, 19.241, 18.329,
       18.245, 17.045, 30.556, 25.799, 26.851, 29.341, 23.123, 23.879,
       23.127, 24.791, 21.143, 17.376, 22.5  , 17.311, 31.964, 31.019,
       21.36 , 20.73 , 23.393, 20.186, 20.289, 17.258, 18.095, 16.841,
       17.748, 16.637, 16.017, 20.301, 17.764, 33.919, 33.905, 35.141,
       28.071, 24.871, 20.926, 27.133, 22.775, 34.911, 34.539, 34.099,
       36.788, 28.146, 27.466, 25.907, 31.319, 38.961, 37.668, 33.798,
       37.135, 27.91 , 25.521, 24.659, 19.826, 34.364, 30.196, 31.86 ,
       35.666, 32.873, 43.715, 26.784, 40.649, 43.284, 40.417, 32.391,
       28.73 , 40.577, 39.384, 35.341, 32.955, 28.877, 27.809, 34.144,
       24.045, 32.752, 28.059, 26.992, 26.331, 24.585, 31.273, 38.489,
       37.768, 36.074, 33.605, 36.811, 37.301, 34.597, 34.27 , 34.942,
       32.068, 34.052, 34.065, 34.102, 32.987, 32.693, 31.484, 28.244,
       27.378, 25.604, 25.281, 21.468, 24.655, 21.234, 18.754, 28.686,
       27.992, 32.999, 30.257, 28.788, 27.079, 24.629, 24.127, 35.844,
       36.562, 33.059, 37.435, 35.839, 35.906, 35.633, 33.664, 36.359,
       33.485, 36.984, 25.017, 31.266, 26.746, 24.282, 30.652, 34.123,
       26.015, 26.603, 42.817, 32.311, 28.117, 29.926])

In [71]:
import sklearn.externals

In [72]:
import joblib

In [73]:
joblib.dump(pipeline_obj,'RFCar.pkl')

['RFCar.pkl']

In [74]:
kd=joblib.load('RFCar.pkl')

In [75]:
kd.predict(df[X])

array([17.272, 14.72 , 17.34 , 16.557, 16.911, 14.52 , 13.71 , 14.26 ,
       13.13 , 14.82 , 14.96 , 14.44 , 14.94 , 15.288, 24.   , 21.078,
       19.272, 20.763, 26.99 , 26.76 , 24.35 , 24.347, 24.78 , 25.165,
       20.798, 10.63 , 10.875, 11.71 ,  9.88 , 27.03 , 26.575, 24.502,
       26.245, 19.808, 16.798, 17.441, 18.7  , 18.321, 14.01 , 13.53 ,
       14.15 , 14.05 , 12.24 , 12.81 , 12.65 , 18.75 , 21.696, 18.811,
       18.5  , 23.424, 27.12 , 29.63 , 29.255, 31.2  , 33.71 , 27.49 ,
       27.   , 24.774, 25.905, 23.21 , 20.566, 21.965, 13.6  , 13.6  ,
       14.54 , 14.115, 16.115, 11.67 , 12.85 , 12.38 , 13.135, 20.69 ,
       14.92 , 13.4  , 13.25 , 14.02 , 19.27 , 22.072, 20.62 , 26.18 ,
       22.427, 26.565, 22.906, 27.08 , 26.87 , 13.51 , 14.635, 13.475,
       14.02 , 14.65 , 11.99 , 13.175, 13.195, 14.04 , 12.48 , 12.02 ,
       13.335, 18.478, 16.365, 18.272, 17.823, 21.87 , 26.493, 11.42 ,
       12.18 , 12.85 , 12.545, 18.5  , 22.23 , 20.816, 22.94 , 22.81 ,
       20.512, 21.337, 25.94 , 14.29 , 15.035, 28.745, 24.85 , 21.392,
       19.872, 15.503, 22.965, 20.314, 12.48 , 20.147, 20.903, 19.43 ,
       15.893, 31.018, 25.295, 31.485, 24.77 , 16.136, 16.061, 17.826,
       15.225, 13.42 , 13.98 , 13.75 , 14.175, 27.725, 27.605, 26.217,
       31.686, 31.623, 27.33 , 25.855, 25.749, 24.232, 25.669, 30.1  ,
       19.305, 17.492, 15.883, 15.781, 15.145, 14.905, 15.435, 14.395,
       17.187, 16.195, 15.49 , 17.562, 20.551, 19.291, 14.562, 28.53 ,
       23.42 , 19.895, 22.671, 23.974, 25.649, 24.061, 18.858, 28.845,
       18.673, 23.376, 22.37 , 21.338, 24.055, 32.455, 26.547, 25.28 ,
       25.092, 26.068, 27.304, 16.67 , 15.78 , 15.04 , 14.955, 21.403,
       20.931, 22.749, 21.646, 29.529, 26.112, 29.156, 32.791, 19.402,
       18.57 , 18.285, 18.56 , 29.242, 31.62 , 28.275, 25.75 , 20.129,
       13.775, 19.695, 19.473, 16.978, 15.875, 13.56 , 13.633, 14.043,
       31.426, 29.864, 33.229, 25.701, 32.63 , 16.574, 17.061, 15.56 ,
       15.427, 17.984, 20.177, 19.101, 18.376, 15.835, 15.425, 15.645,
       15.663, 29.665, 24.55 , 26.202, 24.76 , 30.627, 32.325, 30.635,
       29.694, 21.414, 22.93 , 22.763, 39.916, 35.083, 33.727, 36.815,
       35.511, 19.625, 18.656, 19.637, 19.287, 20.159, 20.438, 24.97 ,
       20.102, 19.597, 20.302, 20.648, 18.901, 18.786, 19.241, 18.329,
       18.245, 17.045, 30.556, 25.799, 26.851, 29.341, 23.123, 23.879,
       23.127, 24.791, 21.143, 17.376, 22.5  , 17.311, 31.964, 31.019,
       21.36 , 20.73 , 23.393, 20.186, 20.289, 17.258, 18.095, 16.841,
       17.748, 16.637, 16.017, 20.301, 17.764, 33.919, 33.905, 35.141,
       28.071, 24.871, 20.926, 27.133, 22.775, 34.911, 34.539, 34.099,
       36.788, 28.146, 27.466, 25.907, 31.319, 38.961, 37.668, 33.798,
       37.135, 27.91 , 25.521, 24.659, 19.826, 34.364, 30.196, 31.86 ,
       35.666, 32.873, 43.715, 26.784, 40.649, 43.284, 40.417, 32.391,
       28.73 , 40.577, 39.384, 35.341, 32.955, 28.877, 27.809, 34.144,
       24.045, 32.752, 28.059, 26.992, 26.331, 24.585, 31.273, 38.489,
       37.768, 36.074, 33.605, 36.811, 37.301, 34.597, 34.27 , 34.942,
       32.068, 34.052, 34.065, 34.102, 32.987, 32.693, 31.484, 28.244,
       27.378, 25.604, 25.281, 21.468, 24.655, 21.234, 18.754, 28.686,
       27.992, 32.999, 30.257, 28.788, 27.079, 24.629, 24.127, 35.844,
       36.562, 33.059, 37.435, 35.839, 35.906, 35.633, 33.664, 36.359,
       33.485, 36.984, 25.017, 31.266, 26.746, 24.282, 30.652, 34.123,
       26.015, 26.603, 42.817, 32.311, 28.117, 29.926])

In [76]:
temp={}
temp['cylinders']=1
temp['displacement']=2
temp['horsepower'] = 3
temp['weight']=4
temp['acceleration'] =5
temp['model year']=6
temp['origin'] =1

In [77]:
testData=pd.DataFrame({'x':temp}).transpose()

In [78]:
testData

,acceleration,cylinders,displacement,horsepower,model year,origin,weight
x,5,1,2,3,6,1,4

In [79]:
kd.predict(testData)[0]

29.083